html{
    font-size: 16px;
}
header{
    width:100%;
}
nav{
            display:flex;
            width:100%;
            justify-content: flex-end;
            background-color: black;
            padding: 1% 0.1%;
          }
        nav a{
            text-decoration: none;
            color:white;
            margin-left: 1%;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
            line-height: 150%;
        }
        b{
            color:red;
        }
        .banner{
            background: url('./images/sakura.jpg');
            min-height:30%;
            height:180px;
            background-size: contain;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            
        }
        .banner h2{
            color:white;
            font-size: 4rem;
        }
       