header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(11, 112, 116);
    color: white;

}
header h1{
    padding-left: 5px;
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
    margin-left: 10px;
    padding-right: 5px;
}
header ul li a{
    text-decoration: none;
    color:rgb(138, 243, 234);
}
header ul li a:hover{
    color: blueviolet;
}
 html{
            font-size: 16px;
        }
        h2{
            font-size: 2rem;
        }
        p, li{
            font-size: 1.5rem;
        }
        b{
            color: crimson;
        }