header.header{
    position: relative;
    background-image: url('../Images/star.jpg');
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center; 
    color:antiquewhite;
    justify-content: center; 
    

}
p,ol{
    font-size: 20px;
}
#third{
    background-color: blueviolet;
}
*{
   
    border: none;
}
.box1{
    background-color:aquamarine; 
    border: 1px solid black; 
    box-shadow: 5px 10px 30px; 
    width:1100px; 
    margin:5px 0px 30px;
     padding: 0px 10px;
}
.box2{
    background-color:darkslategray; 
    color:antiquewhite; 
    border: 4px solid rgb(21, 79, 11); 
    box-shadow: 10px 30px 30px gray; 
    width:1100px; 
    margin:5px 0px 30px; 
    padding: 0px 10px;
}
.box3{
    background-color: crimson; 
    border: 10px solid rgb(244, 131, 205); 
    box-shadow: 5px 10px 30px; 
    width:1100px; 
    margin:5px 0px 30px;
    padding: 0px 10px;
}
.box4{
    background-color: aquamarine;
    border: 8px solid rgb(106, 137, 187); 
    box-shadow: 5px 10px 30px; 
    width:1100px; 
    margin:5px 0px 30px;
    padding: 0px 10px;
}

@media screen and (max-width:576px) {
    img{
        width: 90%;
    }
    .box1{
        width:95%
    }
    .box2{
        width: 95%;
        padding:0 0;
    }
    .box3, .box4{
        width:95%;
        padding:0 0;
    }
    
}

@media screen and (min-width:576px) and (max-width:1164px) {
    img{
        width: 90%;
    }
    .box1{
        width:95%
    }
    .box2{
        width: 95%;
        padding:0 0;
    }
    .box3, .box4{
        width:95%;
        padding:0 0;
    }
}