.container{
    display:flex;
    justify-content: center;
    gap:20px;
    
}
.card{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding:10px;
    background-color: rgb(204, 228, 238);
    box-shadow: 10px 10px 15px gray;

}
.card img{
 border-radius: 50%;
 border: 1px dotted salmon;
 
}