nav{
    display:flex; /*MUST TO MAKE THE NAVBAR "HOME" STUFF TO GO RIGHT*/
    background-color: rgb(241, 152, 231);
    position: fixed;
    width:100%;
    top:0;
}
nav ul{
     margin-left: auto; /*MUST TO MAKE THE NAVBAR "HOME" STUFF TO GO RIGHT*/
     display: flex;
     padding: 0;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none;
    font-size: larger;
   
}
nav h2{
    color:rgb(129, 16, 144);
    font-size: 25px;
    margin-left: 10px;
    
}
nav li:hover{
    background-color:rgb(19, 220, 153);
    border-radius: 10px;


}
main{
    margin-top: 50px; 
    padding: 20px;
}
p{
    font-size: larger;
    margin-left: 10px;
}
b{
    color: darkred;
}
img {
    margin-left: 10px;
}
.form2{
     border: 1px solid black; 
     border-radius: 30px; 
     text-align: center;
      background-color: rgb(186, 209, 221); 
      width: 700px; 
      height: fit-content; 
      margin: 10px 25%; 
      padding: 10px;
}

@media screen and (max-width:576px) {
    nav{
        display: flex;
        flex-direction: column;
        position: static;
       
        align-items: center;
        width:100%;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
    }
    img,video,audio,iframe{
        width:95%
    }

    fieldset{
        width: 95%;
    }
    textarea{
        width: 95%;
    }
    .form2{
        width: 90%;
        margin: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    nav{
        display: flex;
        flex-direction: column;
        position: static;
       
        align-items: center;
        width:100%;
    }
    nav ul{
        display: flex;
        
        flex-wrap: wrap;
        
        
    }
    img,video,audio,iframe{
        width:95%
    }
    textarea{
        width: 95%;
    }
    .form2{
        width: 90%;
        margin: 0;
    }
}

